* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

label{
  text-align: center;
}

label p {
  margin: 0;
}

label input{
  margin-bottom: 7px;
}

.modal-wrapper p span {
  font-weight: bold;
}